services:
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: passwordindevelopment!
      MYSQL_DATABASE: lexigrain

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080

  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama
